.about-container {
  width: 100%;
  height: fit-content;
  position: relative;
}

.about-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  background: linear-gradient(90deg, #251d3a 48.96%, rgba(37, 29, 58, 0) 100%);
  display: flex;
  align-items: flex-end;
  padding-left: 5%;
  padding-top: 150px;
}

.about-info {
  width: 40%;
  margin-bottom: 5%;
  padding: 70px 50px;
  background-color: #2a2550;
  border-radius: 25px;
}

.about-info h2 {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 2vw;
  color: #fff;
  margin-bottom: 40px;
}

.about-info p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 30px;
  line-height: 35px;
}

.about-tag {
  margin-left: 100px;
  margin-bottom: 80px;
}

.about-tag-span {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 700;
  font-size: 9vw;
  color: #2a2550;
}

.about-background {
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .about-wrapper {
    flex-direction: column-reverse;
    padding-right: 5%;
    background: linear-gradient(180deg, #251d3a 48.96%, rgba(37, 29, 58, 0) 100%);
    padding-top: 100px;
  }

  .about-info {
    width: 100%;
  }

  .about-info h2 {
    font-size: 2rem;
  }

  .about-background {
    width: 100%;
    height: 60%;
    top: auto;
    bottom: 0;
  }

  .about-tag {
    margin-bottom: 20px;
  }

  .about-tag-span {
    font-size: 5rem;
  }
}

@media screen and (max-width: 490px) {
  .about-info h2 {
    font-size: 1.5rem;
  }

  .about-info {
    padding: 40px 50px;
  }
}

@media screen and (max-width: 400px) {
  .about-info p {
    /* font-size: 0.8rem; */
  }

  .about-tag-span {
    font-size: 4rem;
  }
}

@keyframes aboutSlideLeft {
  from {
    opacity: 0;
    transform: translateX(150%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes aboutSlideRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(150%);
  }
}
