.certificate-links {
  width: 100%;
  height: fit-content;
  background-color: #e04d01;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 80px 50px;
}

.certificate-item {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 100px;
}

.certificate {
  position: relative;
  min-width: 470px;
  height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.certificate-color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e04d017a;
  transition: background-color 0.4s ease-in-out;
}

.certificate-button {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: #fff;
  background-color: #ff7700;
  padding: 15px 30px;
  border-radius: 25px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.certificate-item:hover .certificate-button {
  opacity: 1;
}

.certificate-item:hover .certificate-color-overlay {
  background-color: #e04b0100;
}

.certificate-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.certificate-info h3 {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 2vw;
  color: #fff;
}

.certificate-info p {
  font-family: 'Ubuntu Mono', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  line-height: 35px;
  text-align: justify;
}

.certificate-link-mobile {
  display: none;
}

@media screen and (max-width: 1400px) {
  .certificate-info h3 {
    font-size: 2rem;
  }

  .certificate-button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .certificate-links {
    gap: 100px;
  }

  .certificate-item {
    flex-direction: column;
    gap: 50px;
  }

  .certificate-info h3 {
    text-align: center;
  }

  .certificate-button {
    display: none;
  }

  .certificate-color-overlay {
    display: none;
  }

  .certificate-link-mobile {
    display: block;
    background-color: #ff7700;
    width: fit-content;
    padding: 15px 30px;
    align-self: center;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: #fff;
  }
}

@media screen and (max-width: 950px) {
  .certificate-info {
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  .certificate {
    min-width: 360px;
    height: 254px;
  }
}

@media screen and (max-width: 600px) {
  .certificate-info {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .certificate {
    min-width: 270px;
    height: 201px;
  }

  .certificate-info h3 {
    font-size: 1.5rem;
  }

  .certificate-info p {
    line-height: 30px;
  }
}

@media screen and (max-width: 390px) {
  .certificate {
    min-width: 190px;
    height: 134px;
  }

  .certificate-info h3 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 370px) {
  .certificate-links {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 310px) {
  .certificate-item {
    gap: 30px;
  }

  .certificate-info {
    gap: 20px;
  }

  .certificate-info p {
    line-height: 25px;
  }
}
