.form-container {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-text-box {
  margin-bottom: 50px;
  width: 100%;
  font-size: 4.5rem;
}

.form-text-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: inherit;
  color: #fff;
  margin-bottom: 25px;
  display: inline;
}

.form-text-title span {
  color: #ff7700;
}

.form-text-desc {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
}

.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
  color: #fff;
  font-size: inherit;
}

.form-container form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.name-input-wrapper,
.email-input-wrapper,
.subject-input-wrapper,
.message-input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name-label,
.email-label,
.subject-label,
.message-label {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
}

.name-input,
.email-input,
.subject-input,
.message-input {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 0 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-color: #2a2550;
  color: #fff;
}

.message-input {
  resize: none;
  height: 200px;
  padding: 10px 16px;
  line-height: 25px;
}

.input-error {
  border: 1px solid #b90101;
}

.input-error-message {
  color: #b90101;
  font-family: 'Roboto', sans-serif;
}

.submit-button {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  border-radius: 10px;
  background-color: #ff7700;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  width: 300px;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #c75d00;
}

.submit-button-sending {
  background-color: #c75d00;
}

.form-success-box {
  position: absolute;
  bottom: 100%;
  left: 50%;
  background-color: #ff7700;
  width: 350px;
  padding: 15px 30px;
  border-radius: 10px;
  transform: translate(-50%, -25%);
  opacity: 0;
  display: none;
  text-align: center;
}

.form-success-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
}

@media screen and (max-width: 1535px) {
  .form-text-box {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1360px) {
  .form-text-box {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1220px) {
  .form-text-box {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1025px) {
  .form-text-box {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 860px) {
  .form-container {
    width: 60%;
  }

  .submit-button {
    width: 100%;
  }
}

@media screen and (max-width: 785px) {
  .form-container {
    width: 70%;
  }
}

@media screen and (max-width: 630px) {
  .form-container {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .form-container {
    width: 90%;
  }

  .form-success-box {
    width: 100%;
  }
}

@media screen and (max-width: 485px) {
  .form-container {
    width: 80%;
  }

  .form-text-box {
    font-size: 2rem;
  }

  .form-text-title {
  }

  .form-text-desc {
    margin-top: 10px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 430px) {
  .form-container {
    width: 90%;
  }
}

@media screen and (max-width: 380px) {
  .form-container {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .form-text-box {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 310px) {
  .form-text-box {
    font-size: 1.5rem;
  }

  .form-text-desc {
    font-size: 0.9rem;
  }

  .name-label,
  .email-label,
  .subject-label,
  .message-label {
    font-size: 1rem;
  }
}

@keyframes messageAnimationIn {
  from {
    opacity: 0;
    transform: translate(-50%, 100%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -25%);
  }
}

@keyframes messageAnimationOut {
  from {
    opacity: 1;
    transform: translate(-50%, -25%);
  }

  to {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}

@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
