.contacts-container {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: #251d3a;
  padding: 100px 5% 0 5%;
}

.contacts-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contacts-social-links {
  background-color: #2a2550;
  height: fit-content;
  padding: 30px 50px;
  border-radius: 25px;
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.contacts-social-wrapper {
  display: flex;
  align-items: center;
  gap: 35px;
  text-decoration: none;
}

.github-icon,
.linkedin-icon,
.instagram-icon {
  font-size: 3.5rem;
  color: #ff7700;
}

@media screen and (max-width: 860px) {
  .contacts-social-links {
    width: 300px;
  }

  .contacts-social-wrapper {
    gap: 25px;
  }

  .github-icon,
  .linkedin-icon,
  .instagram-icon {
    font-size: 3rem;
  }
}

@media screen and (max-width: 780px) {
  .contacts-social-links {
    margin-right: 0;
  }
}

@media screen and (max-width: 700px) {
  .contacts-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contacts-container {
    padding-top: 100px;
  }

  .github-icon,
  .linkedin-icon,
  .instagram-icon {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 570px) {
  .contacts-container {
    padding-top: 120px;
  }
}

@media screen and (max-width: 350px) {
  .contacts-social-links {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }
}

@media screen and (max-width: 310px) {
  .contacts-social-links {
    padding: 25px 35px;
  }

  .github-icon,
  .linkedin-icon,
  .instagram-icon {
    font-size: 2.7rem;
  }
}

@keyframes contactsSlideLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(-20%);
  }
}

@keyframes contactsSlideRight {
  from {
    opacity: 1;
    transform: translateX(-20%);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
